{% extends 'base.html' %}

{% block content %}
<h1>Homepage.</h1>

<p>WELCOME TO DUDE</p>
<p>here is what you got</p>
<table style="height: 134px; width: 222px;">
<tbody>
<tr>
<td style="width: 32px;">id</td>
<td style="width: 102px;">name</td>
<td style="width: 68px;">ip</td>
</tr>
<tr>
<td style="width: 32px;">&nbsp;</td>
<td style="width: 102px;">&nbsp;</td>
<td style="width: 68px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 32px;">&nbsp;</td>
<td style="width: 102px;">&nbsp;</td>
<td style="width: 68px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 32px;">&nbsp;</td>
<td style="width: 102px;">&nbsp;</td>
<td style="width: 68px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 32px;">&nbsp;</td>
<td style="width: 102px;">&nbsp;</td>
<td style="width: 68px;">&nbsp;</td>
</tr>
</tbody>
</table>

{% endblock %}


